In [1]:
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas as pd

In [2]:
# Key.json contains information for service account to connect to BigQuery API
credentials = service_account.Credentials.from_service_account_file('key.json')
project_id = 'zillow-houses-376821'
client = bigquery.Client(credentials = credentials, project = project_id)

In [21]:
# https://medium.com/pipeline-a-data-engineering-resource/automate-your-bigquery-schema-definitions-with-5-lines-of-python-7a1996749718
# Automate schema creation

def create_schema(field_list:list, type_list:list):
    schema_list = []
    for fields, types in zip(field_list, type_list):
        schema = bigquery.SchemaField(fields, types)
        schema_list.append(schema)
    return schema_list

# Function to load dataframe into BigQuery

def bq_load(df, dataset_id: str, table_id: str, schema, client):
    bq_client = client
    dataset_ref = bq_client.dataset(dataset_id)
    dataset_table_id = dataset_ref.table(table_id)
    
    job_config = bigquery.LoadJobConfig()
    job_config.write_disposition='WRITE_TRUNCATE'
    job_config.source_format = bigquery.SourceFormat.CSV
    job_config.autodetect=False
    # Calling create_schema()
    job_config.schema = schema
    job_config.ignore_unknown_values=False
    job = client.load_table_from_dataframe(df,
    table_id,
    location='US',
    job_config=job_config)
    
    return job.result()

In [ ]:
# Manual schema creation

# schema = [
#     bigquery.SchemaField("zpid", "INTEGER"),
#     bigquery.SchemaField("streetAddress", "STRING"),
#     bigquery.SchemaField("zipcode", "STRING"),
#     bigquery.SchemaField("city", "STRING"),
#     bigquery.SchemaField("state","STRING"),
#     bigquery.SchemaField("latitude", "NUMERIC"),
#     bigquery.SchemaField("longitude", "NUMERIC"),
#     bigquery.SchemaField("price", "INTEGER"),
#     bigquery.SchemaField("bathrooms", "FLOAT64"),
#     bigquery.SchemaField("bedrooms", "FLOAT64"),
#     bigquery.SchemaField("livingArea", "FLOAT64"),
#     bigquery.SchemaField("homeType", "STRING"),
#     bigquery.SchemaField("taxAssessedValue", "FLOAT64"),
#     bigquery.SchemaField("brokerName", "STRING")
# ]

In [43]:
# df_to_bq = bq_load(df, "zillow_houses", "zillow-houses-376821.zillow_houses.vancouverhouses", create_schema(field_list,type_list), client)

In [10]:
df = pd.read_csv('data/reviseddataset.csv')

In [11]:
df = df.rename(columns = {'newAddress':'addressWithoutUnit'})

In [12]:
df.columns

Index(['zpid', 'streetAddress', 'zipcode', 'city', 'state', 'latitude',
       'longitude', 'price', 'bathrooms', 'bedrooms', 'livingArea', 'homeType',
       'taxAssessedValue', 'lotAreaValue', 'brokerName', 'neighbourhoodName',
       'addressWithoutUnit'],
      dtype='object')

In [50]:
# df = df.drop(219)

In [18]:
location = df[['zpid', 'streetAddress', 'zipcode', 'city', 'state', 'latitude', 'longitude','addressWithoutUnit']]
homeinfo = df[['streetAddress', 'price', 'bathrooms', 'bedrooms', 'livingArea', 'homeType', 'taxAssessedValue', 'lotAreaValue', 'neighbourhoodName']]
brokerageinfo = df[['zpid','brokerName']]

In [19]:
# Gathering the types of each column and appending BigQuery datatype to list

def type_list_generator(df):
    type_list = []

    for column in df.columns:
        if df[column].dtype == 'object':
            type_list.append("STRING")
        elif df[column].dtype == 'float64':
            type_list.append("FLOAT64")
        else:
            type_list.append("INTEGER")
    return type_list

# Gathering every column name
def field_list_generator(df):
    field_list = list(df.columns)
    return field_list

In [53]:
# load relations to bigQuery

location_to_bq = bq_load(location, "zillow_houses", "zillow-houses-376821.zillow_houses.location", 
                         create_schema(field_list_generator(location),type_list_generator(location)), client)

homeinfo_to_bq = bq_load(homeinfo, "zillow_houses", "zillow-houses-376821.zillow_houses.homeinfo", 
                         create_schema(field_list_generator(homeinfo),type_list_generator(homeinfo)), client)

brokerageinfo_to_bq = bq_load(brokerageinfo, "zillow_houses", "zillow-houses-376821.zillow_houses.brokerageinfo", 
                              create_schema(field_list_generator(brokerageinfo),type_list_generator(brokerageinfo)), client)

In [3]:
# Testing query

initial_query = """ 

SELECT * FROM `zillow-houses-376821.zillow_houses.location` LIMIT 10

"""

query_results = client.query(initial_query).to_dataframe()

print(query_results)

         zpid            streetAddress zipcode       city state   latitude  \
0   314396616           2973 McGill St  V5K1H8  Vancouver    BC  49.289010
1   314397260           2565 Dundas St  V5K1P7  Vancouver    BC  49.285038
2   314397306           2697 Dundas St  V5K1R1  Vancouver    BC  49.285027
3   314398013         3466 Franklin St  V5K1Y3  Vancouver    BC  49.281788
4   314398017         3467 Franklin St  V5K1Y4  Vancouver    BC  49.282303
5   314398025         3495 Franklin St  V5K1Y4  Vancouver    BC  49.282300
6  2059767952  2741 Hastings St E #303  V5K1Z8  Vancouver    BC  49.281414
7  2059768478        3537 Georgia St E  V5K2J4  Vancouver    BC  49.278503
8  2060865873     3523 Georgia St E #2  V5K2L9  Vancouver    BC  49.278477
9   314399067           2447 Adanac St  V5K2M3  Vancouver    BC  49.277690

    longitude   addressWithoutUnit
0 -123.042404       2973 McGill St
1 -123.052950       2565 Dundas St
2 -123.049650       2697 Dundas St
3 -123.029305     3466 Franklin St
4 -123.029175     3467 Franklin St
5 -123.028620     3495 Franklin St
6 -123.048355  2741 Hastings St E
7 -123.056305    3537 Georgia St E
8 -123.027530   3523 Georgia St E
9 -123.055460       2447 Adanac St

In [54]:
# Top 5 lowest $/sq ft per neighbourhood

top5lowestpricepersqft = """ 

WITH dollar_sqft_calculations AS (
    SELECT streetAddress, neighbourhoodName, 
    bathrooms, bedrooms,
    price, livingArea, homeType, round(price/livingArea,2) as dollarPerSqFt
    FROM `zillow-houses-376821.zillow_houses.homeinfo`
),
ranking_dollarpersq AS (
    SELECT *, 
    rank() over (PARTITION BY neighbourhoodName ORDER BY dollarPerSqFt) as ranking
    FROM dollar_sqft_calculations
)

SELECT * FROM ranking_dollarpersq WHERE ranking <= 5 

"""

query_results = client.query(top5lowestpricepersqft).to_dataframe()

In [55]:
print(query_results)

                   streetAddress neighbourhoodName  bathrooms  bedrooms  \
0            3445 E 49th Ave #98            Sunset        2.0       4.0
1                1322 E 62nd Ave            Sunset        6.0       6.0
2                1045 E 63rd Ave            Sunset        4.0       6.0
3                 268 E 65th Ave            Sunset        3.0       5.0
4                 320 E 57th Ave            Sunset        3.0       5.0
..                           ...               ...        ...       ...
104               1055 Wolfe Ave       Shaughnessy        5.0       8.0
105           1056 Richelieu Ave       Shaughnessy        3.0       5.0
106  1011 King Edward Ave W #201       Shaughnessy        2.0       2.0
107                4549 Osler St       Shaughnessy        6.0       6.0
108                5290 Angus Dr       Shaughnessy        4.0       6.0

         price  livingArea       homeType  dollarPerSqFt  ranking
0     833000.0      1393.0      TOWNHOUSE         597.99        1
1    2388000.0      3955.0  SINGLE_FAMILY         603.79        2
2    1699000.0      2800.0  SINGLE_FAMILY         606.79        3
3    1649000.0      2632.0  SINGLE_FAMILY         626.52        4
4    1675000.0      2453.0  SINGLE_FAMILY         682.84        5
..         ...         ...            ...            ...      ...
104  4988000.0      5765.0  SINGLE_FAMILY         865.22        1
105  4450000.0      5143.0  SINGLE_FAMILY         865.25        2
106   799900.0       902.0          CONDO         886.81        3
107  4998000.0      5327.0  SINGLE_FAMILY         938.24        4
108  3999000.0      3764.0  SINGLE_FAMILY        1062.43        5

[109 rows x 9 columns]

In [56]:
query_results.to_csv('queries/Top5LowestDollarPerSqft.csv', index = False)

In [57]:
# Top 3 highest price per neighbourhood

top3highestprice = """ 

WITH top_3_rank AS (
    SELECT streetAddress, neighbourhoodName, 
    bathrooms, bedrooms,
    price, livingArea, homeType, 
    round(price/livingArea,2) as dollarPerSqFt,
    rank() over (PARTITION BY neighbourhoodName ORDER BY price DESC) as ranking
    FROM `zillow-houses-376821.zillow_houses.homeinfo`
)

SELECT * FROM top_3_rank WHERE ranking <= 3 

"""

query2_results = client.query(top3highestprice).to_dataframe()

In [58]:
print(query2_results)

            streetAddress    neighbourhoodName  bathrooms  bedrooms  \
0        4838 Belmont Ave      West Point Grey        8.0       5.0
1        4788 Belmont Ave      West Point Grey       11.0       7.0
2        1784 Drummond Dr      West Point Grey        2.0       4.0
3   2112 Prince Edward St       Mount Pleasant        4.0       3.0
4           20 W 14th Ave       Mount Pleasant        2.0       4.0
..                    ...                  ...        ...       ...
62           3601 Rae Ave  Renfrew-Collingwood        3.0       3.0
63        2647 E 21st Ave  Renfrew-Collingwood        2.0       4.0
64        5038 Arbutus St        Arbutus-Ridge        9.0       6.0
65        2475 W 34th Ave        Arbutus-Ridge        7.0       6.0
66          4723 Puget Dr        Arbutus-Ridge        8.0       7.0

         price  livingArea       homeType  dollarPerSqFt  ranking
0   59800000.0     12410.0  SINGLE_FAMILY        4818.69        1
1   33888000.0     10548.0  SINGLE_FAMILY        3212.74        2
2   21800000.0      2929.0  SINGLE_FAMILY        7442.81        3
3    2349800.0      2062.0  SINGLE_FAMILY        1139.57        1
4    1990000.0      2208.0  SINGLE_FAMILY         901.27        2
..         ...         ...            ...            ...      ...
62   1890000.0      1230.0      TOWNHOUSE        1536.59        3
63   1890000.0      2368.0  SINGLE_FAMILY         798.14        3
64  11880880.0      4542.0  SINGLE_FAMILY        2615.78        1
65   7988000.0      5348.0  SINGLE_FAMILY        1493.64        2
66   6980000.0      4865.0  SINGLE_FAMILY        1434.74        3

[67 rows x 9 columns]

In [59]:
query2_results.to_csv('queries/Top3HighestPrice.csv', index = False)

In [60]:
# Top 3 lowest price per neighbourhood

top3lowestprice = """ 

WITH top_3_rank AS (
    SELECT streetAddress, neighbourhoodName, 
    bathrooms, bedrooms,
    price, livingArea, homeType, 
    round(price/livingArea,2) as dollarPerSqFt,
    rank() over (PARTITION BY neighbourhoodName ORDER BY price) as ranking
    FROM `zillow-houses-376821.zillow_houses.homeinfo`
)

SELECT * FROM top_3_rank WHERE ranking <= 3 

"""

query3_results = client.query(top3lowestprice).to_dataframe()

In [61]:
print(query3_results)

               streetAddress   neighbourhoodName  bathrooms  bedrooms  \
0       1055 Broadway E #204            Fairview        1.0       1.0
1       1551 W 11th Ave #208            Fairview        1.0       1.0
2       1216 W 11th Ave #206            Fairview        1.0       1.0
3          2224 Eton St #103  Grandview-Woodland        1.0       0.0
4        1533 E 8th Ave #101  Grandview-Woodland        1.0       1.0
..                       ...                 ...        ...       ...
62  489 Interurban Way #1505             Marpole        1.0       1.0
63   489 Interurban Way #710             Marpole        1.0       1.0
64      5926 Tisdall St #506            Oakridge        1.0       2.0
65      2146 W 43rd Ave #201            Oakridge        1.0       2.0
66          5770 Oak St #212            Oakridge        1.0       1.0

       price  livingArea homeType  dollarPerSqFt  ranking
0   550000.0       518.0    CONDO        1061.78        1
1   555000.0       685.0    CONDO         810.22        2
2   558000.0       865.0    CONDO         645.09        3
3   434000.0       435.0    CONDO         997.70        1
4   649900.0       595.0    CONDO        1092.27        2
..       ...         ...      ...            ...      ...
62  548000.0       468.0    CONDO        1170.94        2
63  599000.0       561.0    CONDO        1067.74        3
64  498000.0       946.0    CONDO         526.43        1
65  499000.0      1059.0    CONDO         471.20        2
66  650000.0       813.0    CONDO         799.51        3

[67 rows x 9 columns]

In [62]:
query3_results.to_csv('queries/Top3LowestPrice.csv', index = False)

In [63]:
# Brokerage and total number of units they list, avg price, top neighbourhood listed

brokeragedetails = """ 

WITH brokerage_count_avg AS (
    SELECT bi.brokerName, count(*) as number_of_listings, 
    avg(hi.price) as average_listing_price
    FROM `zillow-houses-376821.zillow_houses.brokerageinfo` bi JOIN
    `zillow-houses-376821.zillow_houses.location` l 
    ON bi.zpid = l.zpid
    JOIN `zillow-houses-376821.zillow_houses.homeinfo` hi 
    ON l.streetAddress = hi.streetAddress
    GROUP BY bi.brokerName
),
brokerage_neighbourhood AS (
    SELECT bi.brokerName, hi.neighbourhoodName, 
    count(hi.neighbourhoodName) as number_of_houses
    FROM `zillow-houses-376821.zillow_houses.brokerageinfo` bi JOIN
    `zillow-houses-376821.zillow_houses.location` l 
    ON bi.zpid = l.zpid
    JOIN `zillow-houses-376821.zillow_houses.homeinfo` hi 
    ON l.streetAddress = hi.streetAddress
    group by bi.brokerName, hi.neighbourhoodName
),
brokerage_n_rank AS (
    SELECT 
        *,
        rank() over (partition by brokerName 
        order by number_of_houses DESC) AS ranking
    FROM brokerage_neighbourhood 
)

SELECT 
    bca.brokerName, bn.neighbourhoodName as top_listed_neighbourhood,
    bca.number_of_listings AS total_listings, bca.average_listing_price,
    bn.number_of_houses as listing_in_neighbourhood
    FROM brokerage_count_avg bca JOIN brokerage_n_rank bn
    ON bca.brokerName = bn.brokerName
    WHERE bn.ranking = 1
    ORDER BY number_of_listings DESC
"""

query4_results = client.query(brokeragedetails).to_dataframe()

In [64]:
print(query4_results)

                                   brokerName top_listed_neighbourhood  \
0               RE/MAX Crest Realty Brokerage                 Downtown
1    Sutton Group-West Coast Realty Brokerage                 Downtown
2                Oakwyn Realty Ltd. Brokerage                 Downtown
3                  Macdonald Realty Brokerage                 Downtown
4     Stilhavn Real Estate Services Brokerage                 Downtown
..                                        ...                      ...
183           RE/MAX Elevate Realty Brokerage                 Downtown
184       Argus Estates (1983) Ltd. Brokerage      Renfrew-Collingwood
185               Umber Realty Inc. Brokerage       Grandview-Woodland
186             SRS Westside Realty Brokerage                   Sunset
187             eXp Realty (Branch) Brokerage      Renfrew-Collingwood

     total_listings  average_listing_price  listing_in_neighbourhood
0                70           2.440918e+06                        16
1                62           4.154714e+06                         9
2                52           1.862890e+06                        18
3                42           3.837388e+06                         9
4                27           3.042489e+06                         6
..              ...                    ...                       ...
183               1           1.680000e+06                         1
184               1           1.248000e+06                         1
185               1           1.488000e+06                         1
186               1           1.498000e+06                         1
187               1           7.998880e+05                         1

[188 rows x 5 columns]

In [65]:
query4_results.to_csv('queries/BrokerageDetails.csv', index = False)

In [66]:
# Top 3 bathrooms/bedrooms per sq ft per neighbourhood

Top3BdBaPerSqft = """ 

WITH calculations AS (
    SELECT
        streetAddress, price, bathrooms, bedrooms, livingArea, homeType,
        bathrooms/livingArea as ba_per_sqft, bedrooms/livingArea as br_per_sqft,
        neighbourhoodName
    FROM `zillow-houses-376821.zillow_houses.homeinfo`
),
ranking as (
    SELECT 
        *, rank() OVER (PARTITION BY neighbourhoodName 
            ORDER BY ba_per_sqft DESC) as ranking_ba,
        rank() OVER (PARTITION BY neighbourhoodName 
            ORDER BY br_per_sqft DESC) as ranking_br
    FROM calculations
)

SELECT 
    * FROM ranking WHERE ranking_ba <= 3 or ranking_br <= 3


"""

query5_results = client.query(Top3BdBaPerSqft).to_dataframe()

In [67]:
print(query5_results)

            streetAddress      price  bathrooms  bedrooms  livingArea  \
0         2843 E 20th Ave  1759000.0        3.0       8.0      2065.0
1      5058 Joyce St #401   928000.0        2.0       3.0       961.0
2            3651 Rae Ave  1250000.0        3.0       4.0      1300.0
3         2469 E 40th Ave  1399000.0        4.0       4.0      1437.0
4    4770 Duchess St #SL1  1049000.0        3.0       3.0      1086.0
..                    ...        ...        ...       ...         ...
105  2083 W 33rd Ave #402  1288000.0        2.0       3.0      1200.0
106       2849 W 18th Ave  2299000.0        4.0       5.0      2137.0
107       2815 W 19th Ave  2278000.0        4.0       4.0      1780.0
108    5626 Larch St #205   788000.0        2.0       2.0       962.0
109         5408 Larch St  1399000.0        3.0       2.0      1156.0

          homeType  ba_per_sqft  br_per_sqft    neighbourhoodName  ranking_ba  \
0    SINGLE_FAMILY     0.001453     0.003874  Renfrew-Collingwood          33
1            CONDO     0.002081     0.003122  Renfrew-Collingwood          21
2        TOWNHOUSE     0.002308     0.003077  Renfrew-Collingwood          18
3     MULTI_FAMILY     0.002784     0.002784  Renfrew-Collingwood           2
4        TOWNHOUSE     0.002762     0.002762  Renfrew-Collingwood           3
..             ...          ...          ...                  ...         ...
105          CONDO     0.001667     0.002500        Arbutus-Ridge          12
106  SINGLE_FAMILY     0.001872     0.002340        Arbutus-Ridge           6
107   MULTI_FAMILY     0.002247     0.002247        Arbutus-Ridge           2
108          CONDO     0.002079     0.002079        Arbutus-Ridge           3
109      TOWNHOUSE     0.002595     0.001730        Arbutus-Ridge           1

     ranking_br
0             1
1             2
2             3
3             6
4             7
..          ...
105           2
106           3
107           4
108           5
109          11

[110 rows x 11 columns]

In [68]:
query5_results.to_csv('queries/Top3BdBaPerSqft.csv', index = False)

In [69]:
# Average price, number of listings per neighbourhood

AvgTotalNeighbourhood = """ 


SELECT
    neighbourhoodName, count(*) as total_listings, avg(price) as avg_price
FROM `zillow-houses-376821.zillow_houses.homeinfo`
GROUP BY neighbourhoodName


"""

query6_results = client.query(AvgTotalNeighbourhood).to_dataframe()

In [70]:
print(query6_results)

           neighbourhoodName  total_listings     avg_price
0                     Sunset              26  1.748780e+06
1                    Marpole              21  3.211694e+06
2                   Downtown             172  2.407403e+06
3                   Fairview              50  1.166800e+06
4                   Oakridge              20  3.853939e+06
5                   West End              62  2.174114e+06
6                  Killarney              27  9.708259e+05
7                  Kitsilano              54  3.730285e+06
8                 Kerrisdale              22  7.449991e+06
9                 Riley Park              18  2.099633e+06
10                Strathcona               4  1.133000e+06
11               Shaughnessy              37  9.838837e+06
12              South Cambie               8  2.789250e+06
13             Arbutus-Ridge              28  3.805313e+06
14            Mount Pleasant              33  1.215879e+06
15           West Point Grey              33  8.711324e+06
16          Hastings-Sunrise              22  1.580586e+06
17         Dunbar-Southlands              29  4.856648e+06
18        Grandview-Woodland              26  1.510865e+06
19       Renfrew-Collingwood              38  1.151239e+06
20       Victoria-Fraserview              18  2.106539e+06
21  Kensington-Cedar Cottage              51  1.681158e+06

In [71]:
query6_results.to_csv('queries/AvgTotalNeighbourhood.csv', index = False)

In [74]:
# Lowest price by combinations of bedroom and bathrooms

LowestPriceBrBa = """ 

WITH ranking_low_price AS (
SELECT
    streetAddress, bathrooms, bedrooms, price, 
    livingArea, homeType, neighbourhoodName,
    rank() OVER (PARTITION BY CAST(bathrooms as STRING), 
        CAST(bedrooms as STRING)
                        ORDER BY price) as ranking
FROM `zillow-houses-376821.zillow_houses.homeinfo`
)

SELECT 
    * 
    FROM ranking_low_price
    WHERE ranking = 1


"""

query7_results = client.query(LowestPriceBrBa).to_dataframe()

In [75]:
print(query7_results)

             streetAddress  bathrooms  bedrooms       price  livingArea  \
0          1188 W 55th Ave       12.0       8.0  28880000.0     15371.0
1    289 Alexander St #808        2.0       1.0    798000.0       790.0
2          2026 E 32nd Ave        7.0       8.0   2888000.0      2674.0
3         1965 Ferndale St        0.0       3.0   1049000.0      1470.0
4        6869 Beechwood St       10.0       8.0   9998000.0      7889.0
..                     ...        ...       ...         ...         ...
58  1415 W Georgia St #113        0.0       0.0    100000.0       200.0
59         1067 E 14th Ave        2.0       5.0   1588000.0      2160.0
60         3255 W 26th Ave        7.0       5.0   5980000.0      4442.0
61          727 E 39th Ave        3.0       9.0   1700000.0      2880.0
62        3206 Carolina St        5.0       6.0   2198000.0      2680.0

         homeType         neighbourhoodName  ranking
0   SINGLE_FAMILY                  Oakridge        1
1           CONDO                Strathcona        1
2   SINGLE_FAMILY  Kensington-Cedar Cottage        1
3   SINGLE_FAMILY        Grandview-Woodland        1
4   SINGLE_FAMILY                Kerrisdale        1
..            ...                       ...      ...
58  SINGLE_FAMILY                  Downtown        1
59  SINGLE_FAMILY            Mount Pleasant        1
60  SINGLE_FAMILY         Dunbar-Southlands        1
61  SINGLE_FAMILY  Kensington-Cedar Cottage        1
62  SINGLE_FAMILY                Riley Park        1

[63 rows x 8 columns]

In [76]:
query7_results.to_csv('queries/LowestPriceBrBa.csv', index = False)